body {
    background-color: #B91450;
    color: white;
}

.container {
    background-color: white;
    color: #B91450;
}

.ticket {
    display: none;
    background-color: white;
    color: #B91450;
}